/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background: #ffffff;
    font-family: "Segoe UI", sans-serif;
}
.paper {
    position: relative;
    background: #fffbeb;
    width: 400px;
    margin: 40px auto;
    padding: 30px 40px;
    border-radius: 4px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
}
.paper ul {
    padding-left: 0;
    margin-top: 20px;
}

.paper li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0 6px 0;
    font-size: 18px;
}

.line {
    border: none;
    border-bottom: 2px solid #6cb1ff;
    margin: 4px 0 8px 0;
}

.empty-message {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #a3c8ff;
    background: transparent;
    font-size: 18px;
}